body {
  margin: 0;
  padding: 0;
  background-color: #f4f4f4;
  font-family: 'Segoe UI', sans-serif;
}

.logo-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh; /* Centrado vertical */
  background-color: #ffffff;
}

.logo {
  max-width: 300px;
  width: 80%;
  height: auto;
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
}

